body {
  font-family: 'Noto Sans TC', sans-serif, PingFang, Microsoft JhengHei;
  line-height: 1.5px;
  min-height: 100vh;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

::-webkit-scrollbar-track {
  background: #E9E2F3;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-thumb {
  background-color: #000;
}